
<!-- About Start -->
<div class="container-fluid py-5 my-5">
    <div class="container pt-5">
            <div class="row g-5">
                <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                    <div class="h-100 position-relative">
                        <img src="~/index/img/about-1.jpg" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                        <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                            <img src="~/index/img/about-2.jpg" class="img-fluid w-100 rounded" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                    <h5 class="text-primary">Hakkımızda</h5>
                    <h1 class="text-as fw-bold d-block">Atlas<span class="text-secondary">Network</span> </h1>
                <p>
                    FİRMAMIZ 22 YILLIK TECRÜBESİYE ANTALYADA HİZMET VERMEKTEDİR. ÖZELLİKLE 5651 LOGLAMA, NETWORK HİZMETLERİ, FIREWALL, SERVER KURULUMLARI, GÜVENLİK KAMERALARI, EXTREME KASALAR, YÜZ TANIMA SİSTEMLERİ,
                    PLAKA TANIMA İŞLEMLERİ, BARİYERLER, PDKS İŞLEMLERİ, WEB SAYFASI DÜZENLEME VE TASARIM İŞLEMLERİ, HER TÜRLÜ YAZILIM, TEKNİK SERVİS HİZMETİ, DANIŞMANLIK İŞLEMLERİ, VERİ KURTARMA...
                </p>
                    <a href="/About/Index/" class="btn btn-secondary rounded-pill px-5 py-3 text-white">Daha Fazla</a>
                </div>
            </div>
    </div>
</div>
<!-- About End -->